
/* Header styles */

header img {
    /*width: 100%;*/
    max-width: 200px;
    float: right;
}

#tag-line {
    font-size: 1.25rem;
    font-weight: 300;
}

/* Form styles */

input[type="text"], input[type="email"], textarea, select {
    width: 100%;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    margin: 0rem 0rem 1rem 0rem;
    padding: .75rem;
}

/* All placeholder attributes */
::placeholder {
    font-size: 1rem;
}

legend {
    color:darkgreen;
    font-variant: small-caps;
    font-size: 1.5rem;
    padding-left: 1rem;
    width: 100%;
}

fieldset {
    border: 1px solid darkgreen;
    padding: 1rem;
    margin-bottom: 1.25rem;
}

label {
    display: block;
    padding-bottom: .5rem;
}